/* Estilos para el tema claro */
:root[data-theme="light"] {
  --body-color: #fff;
  --text-color: #202020;
  --body-rgba: 255, 255, 255;
  --text-rgba: 32, 32, 32;
  --bg: rgb(255, 255, 255);
  --bg-alpha: rgba(250, 250, 250, 0.3);
  --bg2: rgb(245, 245, 245);
  --bg3: rgb(230, 230, 230);
  --text: rgb(45, 45, 45);
  --effect-spinner: rgba(0, 0, 0, 0.1);
  --icons-color: rgb(45, 45, 45);
  --primary: rgb(52, 131, 235);
  --bg4: #9247fc;
  --bg-total: #edf3fb;
  --bg-tgderecha: #fff;
  --scroll-bar: #a8a7a7;
  --toggle-background: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  --toggle-checkbox: #fce100;
}
