.servicios{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servicio img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.servicio{
    flex-basis: 31%;
    position: relative;
}

.descripcion{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(5, 7, 12, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.servicio:hover .descripcion{
opacity: 1;
padding-top: 0;
}