.form-register{
    cursor: pointer;
    color: #fff;
}

.loginForm input, .loginForm textarea{
    display: flex;
    width: 100%;
    background: #EBECFE;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.loginForm label{
    color: #fff;
}

