@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.fixed-height-row td,
.fixed-height-row th {
    height: 50px;
    /* Altura fija para las filas */
    max-height: 50px;
    /* Altura máxima para las filas */
    overflow: hidden;
    /* Ocultar contenido que desborda */
    text-overflow: ellipsis;
    /* Mostrar "..." para contenido que no cabe */
    white-space: nowrap;
    /* Evitar que el texto se envuelva */
}

.sidebar .active {
    background-color: #000 !important;
    /* Ejemplo: cambia el fondo cuando está activo */
    color: #fff !important;
    /* Cambia el color del texto cuando está activo */
}

.fixed-width-column {
    width: 100px;
    max-width: 150px;
    min-width: 150px;
    overflow: hidden;
    /* Ancho máximo para las columnas */
    overflow: hidden;
    /* Ocultar contenido que desborda */
    text-overflow: ellipsis;
    /* Mostrar "..." para contenido que no cabe */
    white-space: nowrap;
    /* Evitar que el texto se envuelva */
}

.hover-effect:hover {
    background-color: #000;
    color: #fffdfd;
}

.sidebar ul li a:not(.active):not(:hover) {
    color: rgb(0, 0, 0);
}

.content-footer-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-top: 1.5px solid rgba(131, 122, 122, 0.4);
}

.requiredAlert{
    display: block;
    color: tomato;
    font-size: x-small;
}